/* body{
    background: rgb(255, 255, 255);
} */

.container{
    margin: 0 10%;
    max-width: 100vw;
    overflow: auto;
}

/* hr{
    text-align: center;
    width:94%; margin-left:3%; margin-right:3%;
    border: 0.5px solid rgb(209, 208, 208);
} */

ul{
    margin: 0;
}

li, a{
    text-decoration: none;
    color: #47423C;
}

nav ul li{
    list-style-type: none;
}

.navbar{
    padding: 0 10%;
    min-width: 100vw;
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease 0s;
    z-index: 999;
    /* -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2); */
}
.navbar.navbar-active{
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 1);
}

.nav-items{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-links{
    padding: 24px 30px;
    border-bottom: 4px solid rgba(255, 152, 39, 0);
    
}
.nav-links:hover{
    border-bottom: 4px solid rgb(255, 151, 39);
}
.nav-links.active{
    color: rgb(255, 151, 39);
    border-bottom: 4px solid rgb(255, 151, 39);
}





.mid-selector{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bt-selector{
    padding: 16px 24px;
    margin: 12px 0;
    color: rgb(124, 124, 124);
    border-bottom: 4px solid rgba(26,193,246,0);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-align: center;
}
.bt-selector:hover{
    border-bottom-color: rgb(255, 151, 39);
    transition: all 0.3s ease 0s;
}
.bt-selector.active{
    color: rgb(255, 151, 39);
    border-bottom-color: rgb(255, 151, 39);
    transition: all 0.3s ease 0s;
}





.gallery-grid{
    margin: 24px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    grid-row-gap: 48px;
    justify-items: center;
}
.gallery-item{
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 12px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.gallery-item:hover{
    transition: all 0.3s ease 0s;
    transform: scale(1.05);
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);

}
.gallery-content{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.gallery-content img{
    /* flex-shrink:0;
    min-width:100%;
    min-height:100%; */
    height: 200px;
    width: auto;
}
.coming-soon{
    margin: auto;
}










/* ---BUTTONS--- */
.tmb{
    outline:none;
    border: none;
    padding: 18px 32px 18px 32px;
    font-size: 12pt;
    background: rgb(71, 147, 235);
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.2);
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    color: white;
    cursor: pointer;
}
.tmb:hover{
    transition: 0.25s;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.2);
}
.tmbr{
    color: rgb(71, 147, 235);
    border: 2px solid rgb(71, 147, 235);
    background: rgb(55,217,106,0);
    border-radius: 6px;
    border-color: rgb(255,154,39);
    color: rgb(255,154,39);
}

.tmb-fluid{
    outline:none;
    border: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 18px 32px 18px 32px;
    margin: 6px 10px;
    font-size: 12pt;
    background: rgb(71, 147, 235);
    -webkit-box-shadow: 0px 7px 23px 2px rgba(201,201,201,1);
    -moz-box-shadow: 0px 7px 23px 2px rgba(201,201,201,1);
    box-shadow: 0px 7px 23px 2px rgba(201,201,201,1);
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
}

/* ---BUTTONS > SIZE--- */
.tmb-sm{
    padding: 12px 24px 12px 24px;
    font-size: 10pt;
}
.tmb-md{
    padding: 14px 28px 14px 28px;
    font-size: 11pt;
}    

/* ---BUTTONS > SHAPE--- */
.tmb-round{
    border-radius: 32px;
}

.tmb-flat{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* ---BUTTONS > COLOR--- */
.tmb-pale{
    background: rgb(248, 248, 248);
    color: rgb(128, 128, 128);
}
.tmb-white{
    background: rgb(248, 248, 248);
    color: rgb(71, 147, 235);
}
.tmb-aqua{
    background: rgb(55,217,106);
    background: linear-gradient(135deg, rgba(55,217,106,1) 0%, rgba(42,242,193,1) 51%, rgba(26,193,246,1) 100%);
}
.tmb-orange{
    border-color: rgb(255,154,39);
    background: rgb(255,154,39);
    background: -moz-linear-gradient(90deg, rgba(255,154,39,1) 0%, rgba(255,127,29,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,154,39,1) 0%, rgba(255,127,29,1) 100%);
    background: linear-gradient(90deg, rgba(255,154,39,1) 0%, rgba(255,127,29,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9a27",endColorstr="#ff7f1d",GradientType=1);
}
.tmb-border-pale{
    color: rgb(248, 248, 248);
    border: 2px solid rgb(248, 248, 248);
    background: rgb(55,217,106,0);
}





@media only screen and (max-width: 800px){
    .gallery-grid{
        margin: 24px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: dense;
        grid-row-gap: 48px;
        justify-items: center;
    }
}





@media only screen and (max-width: 600px){
    .nav-links{
        display: none;
    }
    .nav-items{
        justify-content: center;
    }
    .flex-pull-left{
        margin:initial;
    }
    .tmb, .tmbr{
        display: block;
        width: 100%;
        text-align: center;
        margin: 6px 0;
        font-size: 12pt;
        border-radius: 6px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
    .sec-item .tmbr{
        margin: initial;
    }
    .gallery-grid{
        margin: 24px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: dense;
        grid-row-gap: 48px;
        justify-items: center;
    }
}